Unattended-Upgrade::Origins-Pattern {
  "origin=Debian,codename={{ansible_distribution_release}},label=Debian-Security";
  "origin=Debian,codename={{ansible_distribution_release}},label=Debian";
  "origin=Debian,codename={{ansible_distribution_release}}-updates,label=Debian";
  "origin=Debian Backports,codename={{ansible_distribution_release}}-backports,label=Debian Backports";
}

Unattended-Upgrade::Automatic-Reboot "true";
Unattended-Upgrade::Automatic-Reboot-Time "02:00";

Unattended-Upgrade::Remove-Unused-Dependencies "true";
