[Unit]
Description=Emacs Daemon

[Service]
Type=forking
ExecStart=/bin/bash -l -c '/home/forcer/.local/bin/emacs --daemon'
ExecStop=/bin/bash -l -c '/home/forcer/.local/bin/emacsclient --eval "(kill-emacs)"'
User=forcer
WorkingDirectory=/home/forcer
Restart=on-failure
SyslogIdentifier=emacs

[Install]
WantedBy=default.target
