[Unit]
Description=Emacs Daemon

[Service]
ExecStart=/bin/bash -l -c '/home/forcer/.local/bin/emacs --new-daemon'
User=forcer
WorkingDirectory=/home/forcer
Restart=on-failure
SyslogIdentifier=emacs

[Install]
WantedBy=default.target
