[Unit]
Description=Ensure Hostname Service
Before=networking.service

[Service]
Type=oneshot
ExecStart=/bin/cp /etc/hostname.bak /etc/hostname
ExecStart=/bin/hostname -F /etc/hostname
RemainAfterExit=yes

[Install]
WantedBy=default.target
